{% extends 'base.html' %}

{% block title %}About | imailblaster
{% endblock title %}
{% block aboutactive %} active{% endblock aboutactive %}

{% block style %}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }



  {% endblock style %}

{% block body %}

<div class="bg-light">
    <div class="container">
      <div class="row h-100 align-items-center py-3">
        <div class="col-lg-6">
          <h1 class="display-4"><strong>imailblaster</strong></h1>
          <p class="lead text-muted mb-0">imailblaster is a software company based in Delhi, India. Founded by Shivam Jindal, it focuses on providing best product under best prices in market. It's main aim is to help it's customers grow and make profit in their fields.</p>

        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://bootstrapious.com/i/snippets/sn-about/illus.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  
  <div class="bg-white">
    <div class="container py-3">
      <h2 style="display:flex; justify-content: center;" class="display-4 font-weight-light">About Founder</h2>
      <div class="row align-items-center mb-5">
        <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Shivam Jindal</h2>
          <p class="font-italic text-muted mb-4">Shivam is a young and talented person and works in many languages. He works well in Web Development, Machine Learning, Deep Learning, Backend, Python Projects and more.</p><p class="text-muted mb-4 shadow-sm">Contact email related to any project : jindalshivam241@gmail.com</p>
        </div>
        <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://bootstrapious.com/i/snippets/sn-about/img-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-5 px-5 mx-auto"><img src="https://bootstrapious.com/i/snippets/sn-about/img-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
        <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
          <h2 class="font-weight-light">Aim</h2>
          <p class="font-italic text-muted mb-4">Our aim is to provide best product in market on quality as well as pricing. We want our customers to get profit using our products.</p>
        </div>
      </div>
    </div>
  </div>


{% endblock %}